*{
    background-color: #A39E92;
}


.main{
    
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.mainContainer{
    box-shadow: 0 0 10px black;
    background-color: #333333;
    padding:5px;
    display:flex;
    flex-direction: column;
    margin-top:100px;
    width:400px;
    height: 450px;
    border-radius:1rem;
    
}
.CLDL{
    
    background-color:rgb(54, 54, 54);
    padding-left:20px;
    padding-right:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    grid-gap:10px;
    grid-template-columns:1fr 1fr 1fr;
    height:80px;
    /* border:2px solid red; */
}
.CLDLbtn{
    font-size:larger;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:0.3rem;
    font-weight: bolder;
    height: 50px;
    
    
}
#calcName{
    background-color:rgb(54, 54, 54);
    color:whitesmoke;
    font-style:italic;
    height: 50px;
    width:150px
}
#DL{
    color:#FBEEE4;
    background-color:#CA3433;
    color:whitesmoke;
    border:0px;
    box-shadow: 0 0 6px black;
}
#CL{
    color:#FBEEE4;
    background-color:#CA3433;
    color:whitesmoke;
    border:0px;
    box-shadow: 0 0 6px black;
    
}
#CL:hover{
    background-color:#be6161;
    transition: 0.1s ease-in-out;
}
#DL:hover{
    background-color:#be6161;
    transition: 0.1s ease-in-out;
}
#display{
    
    display:flex;    
    box-shadow: 0 0 6px black;
    flex-direction:column;
    justify-content: center;
    background-color:#FBEEE4;
    height:80px;
    margin: 20px 20px 0px 20px;
    text-align:end;


}

#prevCalc{
    background-color:#FBEEE4;
    overflow:hidden;
    font-size:2rem;
    height: 2.5rem;
    
}
#currCalc{
    background-color:#FBEEE4;    
    overflow:hidden;
    word-wrap: break-word;
    font-size:3rem;
    height: 3rem;
    

}

.buttons{
    background-color:rgb(54, 54, 54);
    margin:0px 20px 20px 20px;
    display:grid;
    grid-gap:10px;
    grid-template-columns:1fr 1fr 1fr 1fr;
}


.button{
    box-shadow: 0 0 6px black;
    font-weight:900;
    font-size:2rem;
    color:#FBEEE4;
    background-color:rgb(99, 99, 99);
    border-radius:0.5rem;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: grey;
    transition: 0.1s ease-in-out;
}