*{
    background-color:rgb(194, 194, 194);
}


.main{
    
    display:flex;
    justify-content:center;
    align-items: center;
}
.mainContainer{
    background-color:rgb(54, 54, 54);
    padding:5px;
    display:flex;
    flex-direction: column;
    margin-top:100px;
    border:2px solid black;
    width:400px;
    height:500px;
    border-radius:1rem;
}
.CLDL{
    
    background-color:rgb(54, 54, 54);

    padding-left:20px;
    padding-right:20px;
    display:grid;
    
    grid-gap:10px;
    grid-template-columns:1fr 1fr 1fr;
    height:110px;
    
}
.CLDLbtn{
    
    font-size:larger;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:0.3rem;
    
    
}
#calcName{
    background-color:rgb(54, 54, 54);
    width:150px
}
#DL{
    background-color:red;
    color:whitesmoke;
    border:2px solid rgb(170, 11, 11);
}
#CL{

    background-color:red;
    color:whitesmoke;
    border:2px solid rgb(170, 11, 11);
}

#display{
    display:flex;
    flex-direction:column;
    background-color:whitesmoke;
    border:5px solid black;
    height:200px;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:10px;
    text-align:end;

    border-radius:0.3rem;

}

#prevCalc{
    background-color:whitesmoke;
    overflow:hidden;
    font-size:2rem;
    height: 2.5rem;
}
#currCalc{
    background-color:whitesmoke;
    overflow:hidden;
    word-wrap: break-word;
    font-size:3rem;
    height: 3rem;

}

.buttons{
    background-color:rgb(54, 54, 54);
    /* border:2px solid red; */
    margin:20px;
    margin-top:10px;
    display:grid;
    grid-gap:10px;
    grid-template-columns:1fr 1fr 1fr 1fr;

    
}


.button{
    font-weight:900;
    font-size:300;
    color:white;
    background-color:rgb(99, 99, 99);
    border-radius:0.5rem;
    padding:20px;
    border:2px black solid;
    display:flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: grey;
    transition: 0.2s ease-in-out;
}